/* VOLUNTEERS */


/* HEADER */

/* NAV BAR */

.nav_container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style: none;
    margin: 0;
    padding-right: 7rem;
    padding-top: 12.5px;
    height: 100%;
    /* border: 3px solid grey; */
}

.nav_item {
    /* border: solid grey 1px; */
    margin-left: 8rem;
    /* color: white; */
}


/* form */
.center {
    text-align: center;
}

body {
    background-color: #576c59
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #576c59;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/*image carousel*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox;
    /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    -ms-flex: 50%;
    /* IE 10 */
    flex: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}

/* FOOTER */

.footer_text {
    text-align: center;
    padding: 10px;
}

ul {
    list-style: none;
}

.contact_icon_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding: 5px;
}

.contact_icon {
    height: 30px;
    width: 30px;
    border: solid grey;
    border-radius: 20px;
    padding: 10px;
    margin: 0 20px;
}

.contact_icon:hover {
    background-color: #FFE8DE;
    border-color: black;
}

.copyright {
    padding: 10px;
    text-align: center;
    color: gray;
}